.nav_main {
  display: flex;
  align-items: center;
  background-color: #232f3e;
  height: 38px;
  justify-content: space-between;
}
.nav_left {
  display: flex;
  padding: 4px;
  cursor: pointer;
  margin-left: 1rem;
  gap: 0.4rem;
}
.nav_left > div:hover {
  border: 1px solid white;
  border-radius: 4px;
}
.links_container {
  font-size: 0.9rem;
  font-weight: 600;
  color: #eaffed;
  padding: 3px 10px;
}
.links_container:hover {
  border: 1px solid white;
  border-radius: 2px;
  margin: -1px;
}
.first_container {
  display: flex;
  color: #ffffff;
  font-weight: bold;
  padding: 3px;
}
.first_container:hover {
  border: 1px solid white;
  border-radius: 2px;
  margin: -1px;
}
.last_links_container{
  color: white;
  padding: 3px 10px;
  font-weight: 700;
  font-size: 0.8rem;
}
.last_links_container:hover{
border: 1px solid white;
  border-radius: 2px;
  margin: -1px;
}
.nav_right {
  margin-right: 1rem;
}
